#hibauzenet{
    display: none;
    color: red;
}

#kimenet{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12pt;
}

.hatteres{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

input{
    width:100%;
}

.kozepre{
    text-align: center;
}

p{
    margin: 0 !important;
    padding: 0;
}

.col-lg-6 div{
    margin: 10px;
}